[Unit]
Description=Generate and execute a systemd-cryptsetup service to decrypt the ROOT partition

DefaultDependencies=no
# If systemd-networkd.service is used in the initramfs, then we should run after it, since the ROOT partition
# might use network-bound encryption.
# Added new custom comment devlog
After=systemd-networkd.service dev-disk-by\x2dpartlabel-ROOT.device ignition-disks.service
Wants=dev-disk-by\x2dpartlabel-ROOT.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true