[Unit]
Description=Afterburn Initrd Setup Network Kernel Arguments
Documentation=https://coreos.github.io/afterburn/usage/initrd-network-cmdline/

DefaultDependencies=no
Before=dracut-cmdline.service
# For extra safety
ConditionKernelCommandLine=|coreos.oem.id=vmware
ConditionKernelCommandLine=|flatcar.oem.id=vmware
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly

[Service]
ExecStart=/usr/bin/coreos-metadata exp rd-network-kargs --cmdline --default-value ''
Type=oneshot
RemainAfterExit=yes
