[Unit]
Description=Root filesystem setup
DefaultDependencies=no
RequiresMountsFor=/sysroot/usr/
After=initrd-root-fs.target
Before=initrd-parse-etc.service
OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/initrd-setup-root

[Install]
WantedBy=initrd.target
