[Unit]
Description=Root filesystem completion
DefaultDependencies=no
RequiresMountsFor=/sysroot/usr/ /sysroot/oem/
After=initrd-root-fs.target ignition-files.service initrd-setup-root.service
Before=initrd-parse-etc.service
OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/initrd-setup-root-after-ignition

[Install]
WantedBy=initrd.target
